/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  font-family: 'Lato', sans-serif;
  color: gray;
}

header {
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

#logo {
  width: 100px;
  margin-right: 20px;
}

.header-top p {
  font-size: 20px;
}

.header-bottom ul {
  display: flex;
  list-style: none;
}

.header-bottom ul li {
  position: relative;
  margin-right: 25px;
}

.header-bottom ul li a {
  text-decoration: none;
  color: gray;
}

.header-bottom ul li.active::after {
  content: '';
  position: absolute;
  background-color: #3367D6;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -15px;
}

.header-bottom ul li.active a {
  color: #3367D6;
}

main {
  padding-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.faq {
  width: 1100px;
  margin: 0 auto;
}

.faq .domande {
  color: black;
  font-size: 1.5rem;
}

.faq .risposte {
  font-size: .9rem;
  line-height: 20px;
}

.faq .risposte p {
  margin-bottom: 15px;
}